@{
    ViewBag.Title = "Редактирование успешно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section right_sidebar_style{
    <link href="@Url.Content("~/Areas/Admin/Content/Styles/AdminIndex.css")" rel="stylesheet" type="text/css" />
}
@section single_column{
<h2>Редактирование успешно</h2>
@Html.ActionLink("На главную", "Index","Home", null, new { @class = "link" })
}